[user]
	name = Jonathan Fenstermacher
	email = jfenstermacher123@gmail.com

[core]
  editor = nvim
  excludesfile = ~/.gitignore_global

[push]
  default = current

[alias]
  co    = checkout
  ci    = commit -m
  st    = status
  br    = branch
  hist  = log --pretty=format:\"%h %af | %s%d [%an]\" --graph --date=short
  d     = diff
  pl    = pull
  pu    = push
  a     = add
  ap    = add -p
  ac    = !git add . && git commit -m
  undo  = reset --soft HEAD~1

[init]
	defaultBranch = main

[credential]
	helper = store

[url "git@github.com:"]
  insteadOf = https://github.com
  insteadOf = https://github.com/
